* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-top: 25px;
  border-radius: 10px;
  border: 1px solid #aaa;
  font-size: 13px;
}

button {
  background: #aaa;
  color: #000;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background: transparent;
  outline: 1px solid #aaa;
}