/* body {
  display: grid;
  grid-template-areas: 
    "locations plans plans deck"
    "locations players players players";
  gap: 0px 0px;
  margin: 10px;
  padding: 0;
  font-family: Trebuchet MS, sans-serif; 
  background-color: #f8f8f8;
  max-width: 1200px;
}

.locations {
  grid-area: locations;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  gap: 5px 5px;
  width: 100%;
  max-width: 600px;
}

#passLocation {
  text-align: center;
  grid-column: span 2;
  width: 97%;
  height: 25px;
  display: block;
}

.available {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: white;
  font-size: 14px;
  border-radius: 50%;
  font-weight: bold;
  border: 2px dashed #fff;
  margin: 5px 0;
}
.occupied {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: white;
  font-size: 14px;
  border-radius: 50%;
  font-weight: bold;
  border: 2px dashed #fff;
  margin: 5px 0;
}

.location {
  display: grid;
  grid-template-columns: 45px 1fr;
  grid-auto-rows: 27px;
  column-gap: 10px;
  row-gap: 5px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 16px;
  background-color: #f3ebe0;
  height: 125px;
}

.location .placement {
  grid-column: 1;
  grid-row: 1 / 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9bb6ad;
  border-radius: 8px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.location .name {
  grid-column: 2;
  grid-row: 1;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: #9bb6ad;
  border-radius: 8px;
  text-align: center;
}

.location .effect {
  grid-column: 2;
  grid-row: 2 / 5;
  padding: 10px;
  font-size: 12px;
  color: #333;
  background-color: #9bb6ad;
  margin: 5px 0px 0px 0px;
  border-radius: 8px;
  flex-grow: 1; 
  overflow-y: auto;
}      

.plans {
  grid-area: plans;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  gap: 10px;
  width: 100%;
  max-width: 350px;
}

.plan {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 16px;
  background-color: #f3ebe0;
  height: 230px;
  width: 150px;
}

.plan .name {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  text-align: center;        
}

.plan .cost {
  text-align: center;
  font-size: 24px;
}

.plan .effect {
  grid-row: 3 / 6;
  padding: 10px;
  font-size: 12px;
  color: #333;
  border-radius: 8px 8px 0px 0px;      
}

.plan .stars {
  grid-row: 6;
  padding: 10px;
  font-size: 12px;
  border-radius: 0px 0px 8px 8px;
  text-align: center;
}

.plan .stars .outline {
  font-size: 24px;
}

.plan .type {
  grid-row: 7;
  text-align: center;
  font-size: 16px;
}



.players {
  grid-area: players;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  gap: 10px;
  width: 100%;
  max-width: 300px;
  margin: -70px 0px 0px 0px;
}

.players .player {
  display: grid;
  grid-template-columns: 120px 15px 120px;
  align-items: stretch;
  padding: 10px;
  gap: 0px;
  border: 3px solid #aaa;
  border-radius: 16px;
  height: 200px;
  width: 255px;
  background-color: #f3ebe0;
}

.players .player .name {
  font-weight: bold;
  font-size: 18px;
}

.players .player .buildings {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

.players .player .plan {
  width: 90%;
  text-align: center;
  font-size: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 2px;
  height: 15px;
}

.players .player .startToken {
  text-align: center;
}

.players .player .mints {
  text-align: right;
  font-size: 18px;
}

.deck {
  grid-area: deck;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
  gap: 0px;
  border: 1px solid #aaa;
  border-radius: 16px;
  background-color: #9bb6ad;
  color: #fff;
  height: 230px;
  width: 150px;
  box-shadow: 10px 5px 5px #000;
}

.deck .logo {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-text-stroke: 2px #282c2b;
}

.unconstructed {
  color: #fff;
}
.selectable {
  cursor: pointer;
  box-shadow: inset 0 0 0 4px rgb(255, 0, 0) !important; 

}
.outline {
  color: #fff;
  text-shadow: 
    -1px -1px 0 #666,
    1px -1px 0 #666,
    -1px 1px 0 #666,
    1px 1px 0 #666; 
}
.deed {
  background-color: #9bb6ad;
}
.culture {
  background-color: #b3bf69;
}
.production {
  background-color: #de7971;
}
.utility {
  background-color: #efab56;
}
.missing {
  background-color: #fff !important;
  border: 2px dashed #000 !important;
}

#popup {
  float: left;
  position: absolute;
  visibility: hidden;
  border: 3px dashed #000;
  border-radius: 16px;
} */

body {
  gap: 0px 0px;
  margin: 10px;
  padding: 0;
  font-family: Trebuchet MS, sans-serif; 
  background-color: #f8f8f8;
  max-width: 1200px;
  display: grid;
  grid-template-rows: 1fr 1fr; 
  grid-template-columns: 1fr 1fr;
}

.buildables {
  grid-column: 1/2;
  grid-row: 1/2;
  border-radius: 10px;
  grid-template-columns: auto auto auto auto auto;
  grid-auto-flow: rows;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1;
  gap: 10px;
  padding: 20px;
}

.buildables .card{
  height: 300px;
  width: 150px;
  background-color: #fbc079;
  grid-template-columns: auto;
  grid-auto-flow: rows;
  display: grid;
}

.buildables .title {
  text-align: left;
  padding: 10px;
  font-weight: bold;
  font-size: 25px;
  justify-content: left;
  grid-column-start: 1;
  grid-column-end: 3;
}

.buildables .description{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 3;
}

.town {
  grid-row: 2/2;
  grid-column: 1/2;
  background-color: #d4b48b;
  border: 5px solid #6c2f07;
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 480px;
}

.tile {
  background-color: #fbc079;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  border: 5px solid #6c2f07;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  margin: auto;
}
.mint {
  color:greenyellow;
}

.recipe{
  background-color: #6c2f07;
  border: rgb(255, 255, 255);
  text-shadow: 
  -1px -1px 0 #ffffff,
  1px -1px 0 #ffffff,
  -1px 1px 0 #ffffff,
  1px 1px 0 #ffffff;
  grid-row: 2;
  display:grid;
  grid-column-start: 1;
  grid-column-end: 3;
  gap: 8px;
  grid-row-gap: 0;
  grid-column-gap: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 150px;
  width: 150px;
}

.blocks{
  text-align: center;
  font-size: 500%;
  outline: white;
  gap:0px;
  line-height: .5;
  padding: 0px;
}

span.blocks::after {
  content: "\25A0";
}

span.mint::after {
  color: #fff;
  text-shadow: 
  -1px -1px 0 #666,
  1px -1px 0 #666,
  -1px 1px 0 #666,
  1px 1px 0 #666; 
  content: "\25c9";
}

span.house::after {
  content: "\2302";
  color:white;
  text-shadow: 
  -1px -1px 0 #666,
  1px -1px 0 #666,
  -1px 1px 0 #666,
  1px 1px 0 #666; 
}